.main {
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
}

.block {
    position: relative;
    border: 1px solid;
    box-sizing:border-box;
    padding: 10px;
}

.beta-ribbon-wrapper {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

    .beta-ribbon {
        font-size: 14px;
        text-align: center;
        transform: rotate(45deg);
        position: relative;
        padding: 5px 0;
        right: 10px;
        top: 20px;
        width: 150px;
        height: 30px;
        background-color: rgba(255, 234, 148, 0.85);

        a {
            font-family:'Lucida Console';
            font-weight: bold;
            text-shadow: 1px 1px rgba(0,0,0,0.25);
            display:inline-block; 
            vertical-align: middle;
            text-decoration: none;
            color: black;
        }
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.help-block {
    margin: 0px;
    font-size: 12px;
}

.tooltip {
    opacity: .9 !important;

    font-size: 12px;

    .tooltip-arrow {
        border-bottom-color: #444 !important;
    }

    .tooltip-inner {
        max-width: 400px;

        background-color: #444;
    }
}

.popover {
    opacity: .9 !important;

    font-size: 12px;
}

.panel {
    margin: 0px;

    .panel-heading, .panel-body, .panel-footer {
        padding: 10px;
    }
}

.btn, .paginate_button a  {
    transition: background linear .2s, color linear .2s;
}

.dataTables_wrapper {
    overflow: hidden;

    .expandAll {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_length {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_filter {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;

        input {
            vertical-align: middle !important;
            margin-left: 0px !important;
        }
    }
    .DTTT_container {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_info {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_paginate {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_processing {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;

        background: none; 
        background-color: rgba(255, 255, 255, 0);

        z-index: 1000;
    }

    tr td.control {
        vertical-align: middle;
    }
    tr td.control:before {
        transition: background linear .2s, color linear .2s;
        border: 1px solid #adadad !important;
        box-shadow: none !important;
        background-color: #ffffff !important;
        color: #000000 !important;
        height: 14px !important;
        width: 14px !important;
        line-height: 12px !important;
    }
    tr:hover td.control:before {
        background-color: #5bc0de !important;
        color: #ffffff !important;
    }
    tr.parent td.control:before {
        background-color: #d9534f !important;
        color: #ffffff !important;
    }
    tr.parent:hover td.control:before {
        background-color: #d9534f !important;
        color: #ffffff !important;
    }


    .clear {
        clear: both;
        height: 0;
    }
}

div.fixedHeader th, div.fixedHeader td {
    background-color: rgba(255, 255, 255, 0.85) !important;
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0;
        outline: none;
        background: none;
        cursor: inherit;
        display: block;
    }
}

.btn-clipboard {
    color: #333;
    background-color: #fff;

    border-color: #563d7c;
}
.btn-clipboard:hover {
    color: #fff;
    background-color: #563d7c;
}
