.main {
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
}

.block {
    position: relative;
    border: 1px solid;
    box-sizing:border-box;
    padding: 10px;
}

.beta-ribbon-wrapper {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

    .beta-ribbon {
        font-size: 14px;
        text-align: center;
        transform: rotate(45deg);
        position: relative;
        padding: 5px 0;
        right: 10px;
        top: 20px;
        width: 150px;
        height: 30px;
        background-color: rgba(255, 234, 148, 0.85);

        a {
            font-family:'Lucida Console';
            font-weight: bold;
            text-shadow: 1px 1px rgba(0,0,0,0.25);
            display:inline-block; 
            vertical-align: middle;
            text-decoration: none;
            color: black;
        }
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.tooltip {
    opacity: .85 !important;

    .tooltip-inner {
        white-space: pre-wrap;
        max-width: 400px;
        text-align: left;
    }
}

.btn, .paginate_button a  {
    transition: background linear 200ms;
}

.dataTables_wrapper {
    overflow: hidden;

    .dataTables_length {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_filter {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .DTTT_container {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_info {
        float: left;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_paginate {
        float: right;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dataTables_processing {
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;

        background: none; 
        background-color: rgba(255, 255, 255, 0);

        z-index: 1000;
    }

    .clear {
        clear: both;
        height: 0;
    }
}

div.fixedHeader th, div.fixedHeader td {
    background-color: rgba(255, 255, 255, 0.85) !important;
}
