<!DOCTYPE html>
<html>
<title>
    GeNA Miner -- {{ query }} ({{ yearFrom }}-{{ yearTo }}) -- #Publication Trend (Year Interval = {{ interval }})
</title>
<head>
<script src="static/js/jquery.min.js"></script>

<script src="static/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<!--<link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.min.3.2.0.css">-->

<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">

<script src="static/js/jquery.dataTables.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.css">-->

<script src="static/js/dataTables.bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/dataTables.bootstrap.css">

<script src="static/js/dataTables.tableTools.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/dataTables.tableTools.css">

<script src="static/js/dataTables.fixedHeader.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/dataTables.fixedHeader.css">

<link rel="stylesheet" type="text/css" href="static/css/main.css">

<script type="text/javascript" class="init">
$(document).ready(function() {
    var query = "{{ query }}";
    var yearFrom = "{{ yearFrom }}";
    var yearTo = "{{ yearTo }}";
    var interval = "{{ interval }}";
    var img = "{{ img }}";

	var table = $('#example').DataTable( {
        dom: 'lfTrtip',
        tableTools: {
            "sSwfPath": "static/swf/copy_csv_xls_pdf.swf",
            "aButtons": [
                {
                    "sExtends": "copy",
                    "sButtonText": "<span class=\"fa fa-clipboard\"></span> Copy Current",
                    "oSelectorOpts": {
                        page: 'current'
                    }
                },
                {
                    "sExtends": "csv",
                    "sButtonText": "<span class=\"fa fa-table\"></span> Save Current as CSV",
                    "oSelectorOpts": {
                        page: 'current'
                    }
                }
            ]
        }, 

        "ajax": {
            "url": "http://{{ host }}/trend/load?query=" + query.replace(" ", "+") + "&from=" + yearFrom + "&to=" + yearTo + "&interval=" + interval + "&plot=true",
            "dataType": "jsonp",
            cache: true,
            jsonpCallback: "jsonpcallback",
        },

        "processing": true,
        "language": {
             "processing": "<span class=\"fa fa-spinner fa-spin\"></span> Processing"
        },
        "deferRender": true,
        "searching": false,
        "paging": false, 
        "pagingType": "full_numbers",
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],

        "columns": [
            { 
                "width": "70%", 
                "data": "range",
            },
            { 
                "width": "30%", 
                "data": "count",
            },
        ],
        "order": [[ 0, "asc" ]]
	});
    new $.fn.dataTable.FixedHeader( table );

    $(".DTTT_container").addClass("btn-group");
    $(".DTTT_container a").removeClass("DTTT_button");
    $(".DTTT_container a").addClass("btn btn-default btn-sm");

    table.on( 'draw.dt', function () {
        $("#trendimg").attr("src", "http://{{ host }}/static/trend/{{ img }}"); 
    } );

    $("[title]").attr("data-placement", "bottom").tooltip({html: true, container: 'body'})
});
</script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="/"><span class="glyphicon glyphicon-home" title="Home"></span></a></li>
    <li><a href="main?query={{ query }}&from={{ yearFrom }}&to={{ yearTo }}" title="{{ query }} ({{ yearFrom }}-{{ yearTo }})">Records</a></li>
    <li class="active">Trend</li>
</ol>

<div class="beta-ribbon-wrapper"><div class="beta-ribbon"><a href="http://www.genalab.org/">GeNA Lab</a></div></div>
<div class="main">
<h3>
    {{ query }} ({{ yearFrom }}-{{ yearTo }})
    <small>
        -- #Publication Trend (Year Interval = {{ interval }})
    </small>
</h3>

<div class="block" style="width:30%; float:left;">
    <table id="example" class="table table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Year Range</th>
                <th>Number</th>
            </tr>
        </thead>

    </table>
</div>
<div style="width:70%; float:left; ">
    <div class="block" align="center" style="position: fixed;">
        <img id="trendimg" style="max-width:100%; max-height:100%;">
    </div>
</div>

</div>
</body>
</html>


